<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.ccxh.mapper.port.AccessKeyMapper">
    <delete id="bathDelete" >
        DELETE FROM t_access_key id IN
        <foreach collection="array" item="t" open="(" separator="," close=")" >
            #{t}
        </foreach>
    </delete>

    <select id="selectByName" resultType="Accesskey">
        SELECT * FROM t_access_key id WHERE access_key=#{accessKey};
    </select>

    <select id="limitPage" resultType="Accesskey">
        SELECT * FROM t_access_key ORDER BY create_time DESC limit #{now}, #{size}
    </select>
</mapper>